<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Multi Coin Miner</title>
<link rel="stylesheet" href="style.css">
<script src="angular.min.js"></script>
<script src="angular-route.min.js"></script>
<script src="app.js"></script>
</head>
<body ng-app="app" ng-controller="MainCtrl">
<header ng-include="'header.html'"></header>
<main ng-view></main>

<!-- LOGIN DIALOG -->
<dialog class="signDialog">
<p class="closeSignDialog" ng-click="closesignDialog()">X</p>
<form method="POST" class="loginForm" ng-show="loginShow" ng-submit="loginFormSubmit()">
<h3>Login now!</h3>
<input type="text" placeholder="Username" ng-model="loginUsername" required>
<input type="password" placeholder="Password" ng-model="loginPassword" required>
<button>Submit</button>
<p>Don't have an account? <a ng-click="register()">Register now!</a></p>
</form>

<form method="POST" class="registerForm" ng-show="registerShow" ng-submit="registerFormSubmit()">
<h3>Signup now!</h3>
<input type="text" placeholder="Username" ng-model="registerUsername" required>
<input type="email" placeholder="Email" ng-model="registerEmail" required>
<input type="text" placeholder="Wallet Address" ng-model="registerWalletAddress" required>
<input type="password" placeholder="Password" ng-model="registerPassword" required>
<button>Submit</button>
<p>Already have an account? <a ng-click="getStarted()">Login now!</a></p>
</form>
</dialog>

<dialog class="purchaseDialog">
<section ng-show="showRequest">
<h3>Version Purchase</h3>
<div>
<label>Your wallet address:</label>
<input type="text" placeholder="Enter your wallet address">
<label>Version:</label>
<select>
<option value="V1">V1</option>
<option value="V2">V2</option>
<option value="V3">V3</option>
</select>
<h4>Deposit btc into the address below</h4>
<button class="getAddress">Get address</button>
<button ng-click="moveToNextPurchase()">Next</button>
</div>
</section>

<section ng-show="showApproval">
<h3>We're now reviewing your request, you'll receive a notification about your purchase shortly!</h3>
</section>

<section ng-show="showRejection">
<h3 style="color: red">Sorry! We won't be reviewing your request, please restart the process if you wish to purchase a certain version.</h3>
</section>
<button ng-click="closePurchaseDialog()">Close</button>
</dialog>

</body>
</html>