<div class="coinProgress">
<h3>BITCOIN: {{coinValue}}</h3>
<button ng-click="showPurchase()">Save progress</button>
</div>

<section class="mainMining">
<div class="v1">
<img src="sale.jpg">
<br>
<button ng-click="showPurchase()">Buy V1</button>
<ul>
<li>Saves progress</li>
<li>Minimum withdrawal 0,0000100 BTC daily!</li>
</ul>
</div>

<div class="v2">
<img src="sale.jpg">
<br>
<button ng-click="showPurchase()">Buy V2</button>
<ul>
<li>Saves progress</li>
<li>0,0001000 BTC bonus!</li>
<li>Minimum withdrawal 0,0001000 BTC daily!</li>
</ul>
</div>

<div class="v3">
<img src="sale.jpg">
<br>
<button ng-click="showPurchase()">Buy V3</button>
<ul>
<li>Saves progress</li>
<li>0,0010000 BTC bonus!</li>
<li>Minimum withdrawal 0,0010000 BTC daily!</li>
</ul>
</div>
</section>